<launch>
	<!-- rcCar.launch
		This is the launch file for the rcCar package. Basically, it runs the
		following commands
		rosrun key_teleop key_teleop.py
		rosrun rcCar rcCar.py
		rosrun rcCar writer_serial.py
	-->
	<node name="controller" pkg="rcCar" type="rcCar.py" />
	<node name="writer" pkg="rcCar" type="writer_serial.py" />
</launch>
